/* ==UserStyle==
@name           firefly-dark-theme - 18/03/2019, 10:16:38
@namespace      github.com/openstyles/stylus
@homepageURL    https://github.com/Cyclic3/firefly-dark-theme
@updateURL      https://github.com/Cyclic3/firefly-dark-theme/raw/master/main.user.css
@version        3.0.0
@description    A Stylus dark theme for Firefly-based webpages 
@author         Cyclic3
==/UserStyle== */

@-moz-document domain("webserver.forest.org.uk") {
    *, .ff-message-content, .ff-comment-content, #the-page *, .ff-login-personalised-background, 
    a *, h1, h2, h3, h4, h4 .ff-segment {
        background: inherit;
        color: inherit;
        border-color: #555 !important;
        border-left-color: #555 !important;
        border-right-color: #555 !important;
        border-top-color: #555 !important;
        border-bottom-color: #555 !important;
        text-shadow: none !important;
    }
    body, #the-page, .ff-login-box, input, h1, h2, h3, h4 .ff-segment h4, input *, .inputwrapper,
    #userbar-react-component, .userbar__wrapper__1spG_ {
        color: #eee !important;
    }
    body {
        background: #222;
    }
    #the-page, .ff-login-box {
        background: #333;
    }
    input, input *, .inputwrapper, .item__link__kvRyA.item__link--button__1QEUe {
        background: #444 !important;
    }
    a {
        color: #3dad71 !important;
    }
    h1, h2, h3, .ff-segment h4, li.ff-calendar-item.selected {
        background: inherit !important;
    }
    #userbar-react-component, .userbar__wrapper__1spG_ {
        background: black;
    }
    ol {
        border: 1.5px solid #555 !important;
    }
    .ff-timetable-block {
        padding: 0em !important;

        border-top: 1px solid #555 !important;
        border-bottom: 1px solid #555 !important;
        border-left: none;
        border-right: none;
    }
    #section-header > .section-image {
        display: none !important;
    }
    .selected, li.ff-nav-children-shown > a, .selected > h3 {
        background: #111 !important;
    }
    
    .ff-login-footer {
        background: inherit !important;
        color: inherit !important;
        border-color: inherit !important;
    }
    
    /* nasty hack to get better background */
    .ff-login-personalised-background {
        content: url("/Templates/Nautilus/custom/logo.png");
        margin: 0 auto;
        display: block;
        position: relative;
        top: 30%;
        max-height: 80px;
        max-width: 100%;
        margin-top: 10%;
        margin-bottom: 80px;
    }
    .ff-message-close{
        background-image: url("/Templates/lib/images/dashboard/icon-close.png") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        top: 1px;
        right: 1px;
    }
    .ff-comment-avatar,.ff-search-result-thumbnail{
        width: 50px;
    }
    .ff_module-mark-and-grade__mark {
        background: #eee !important;
        color: #333 !important;
    }
    .ff_module-mark-and-grade__grade {
        background: #a00 !important;
    }
    .ff_module-mark-and-grade__percentage {
        background: #088 !important;
    }
    
    .ff-timetable-today, .ff-resourcelist-resource {
        background: #222 !important;
    }
    .ff-resourcelist-resource-type-folder {
        background: #181818 !important;
    }
    
    .ff-calendar-item > ol, .ff_container-dashboard-item-repeater__items, .ff-messages,
    .ff-dashboard-writeblog {
        border: none !important;
    }
    
    /*This is how firefly does it, so... */
    .ff6-nav.section-dashboard #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-dashboard > a, .ff6-nav.section-resources #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-resources > a, .ff6-nav.section-planner #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-planner > a, .ff6-nav.section-tasks #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-tasks > a, .ff6-nav.section-markbook #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-markbook > a, .ff6-nav.section-classes #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-classes > a, .ff6-nav.section-students #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-students > a, .ff6-nav.section-personal-pages #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-personal-pages > a, .ff6-nav.section-personal-blog #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-personal-blog > a, .ff6-nav.section-your-children #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-your-children > a, .ff6-nav.section-your-child #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-your-child > a, .ff6-nav.section-school-information #section-menu .ff-nav-sections ul.ff-nav-level-1 > li.ff-mainnav-school-information > a {
        background: #111 !important;
    }
}
